server_name: {{ synapse_name }}
registration_shared_secret: "{{ synapse_shared_secret }}"

database:
  name: psycopg2
  args:
    user: synapse_user
    password: {{ synapse_db_password }}
    database: synapse
    host: localhost
    cp_min: 5
    cp_max: 10
enable_registration: true
enable_registration_without_verification: true
